{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="post-container col-10 offset-1">
  <div class="row g-0">
    <div class="col-md-6 text text-white">
      <h1 class="post-title">{{ post.title }}</h1>
      <p class="post-subtitle">{{ post.user_profile }} | {{ post.created_on }}
        {% if request.user.is_superuser %}
        <small class="ml-3">
          <a href="{% url 'edit_post' post.slug %}">Edit</a> |
          <a class="text-danger" href="{% url 'delete_post' post.slug %}">Delete</a>
        </small>
        {% endif %}
      </p>
      {% for subject in post.subjects.all %}
      <a class="category-badge text-decoration-none" href="#">
        <span class="p-2 mb-2 badge badge-white text-white rounded-0 border border-dark">
          {{ subject.friendly_name }}</span>
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col card mb-4 mt-3 left top">
      <div class="card-body">
        <p class="card-text">{{ post.content | safe }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    {% if from_profile %}
    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
      <span class="icon mr-2">
        <i class="fas fa-angle-left"></i>
      </span>
      <span class="text-uppercase">Back to Profile</span>
    </a>
    {% else %}
    <a href="{% url 'community' %}" class="btn btn-black rounded-0 my-2">
      <span class="icon mr-2">
        <i class="fa-solid fa-table"></i>
      </span>
      <span class="text-uppercase">Back to Posts</span>
    </a>
    {% endif %}
    {% if request.user.is_authenticated and request.user == post.user_profile.user %}
    <a href="{% url 'edit_post' post.slug %}" class="btn btn-black rounded-0 my-2 ml-2">
      <span class="icon mr-2">
        <i class="fa-solid fa-pen-to-square"></i>
      </span>
      <span class="text-uppercase">Edit Post</span>
    </a>
    <a href="{% url 'delete_post' post.slug %}" class="btn btn-black rounded-0 my-2 ml-2">
      <span class="icon mr-2">
        <i class="fa-solid fa-trash-can"></i>
      </span>
      <span class="text-uppercase">Delete Post</span>
    </a>
    {% endif %}
  </div>

  {% if post.status == 0 %}
  <div class="row d-none">
  {% else %}
  <div class="row">
  {% endif %}
    <div class="col-md-8 card mb-4 mt-3">
      <h3>Comments:</h3>
      <div class="card-body">
        {% for comment in comments %}
        {% if comment.approved == 0 %}
        {% if request.user == comment.user_profile.user or request.user.is_superuser %}
        <div class="p-2 comments faded">
          {% else %}
          <div class="p-2 d-none">
            {% endif %}
            {% else %}
            <div class="p-2 comments">
              {% endif %}
              <p class="font-weight-bold">
                {{ comment.user_profile }}
                <span class="font-weight-normal"> {{ comment.created_on }} </span>
                wrote:
              </p>
              <div class="pl-3" id="comment{{ comment.id }}">
                {{ comment.body | linebreaks }}
              </div>
              {% if comment.approved == 0 %}
              {% if request.user == comment.user_profile.user or request.user.is_superuser %}
              <p class="approval">This comment is awaiting approval</p>
              {% endif %}
              {% endif %}
              {% if request.user == comment.user_profile.user or request.user.is_superuser %}
              <small class="ml-3">
                <a href="{% url 'edit_comment' comment.id %}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_comment' comment.id %}">Delete</a>
              </small>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
          <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form id="commentForm" method="post" style="margin-top: 1.3em">
              {{ comment_form | crispy }} {% csrf_token %}
              <button class="btn btn-black rounded-0" type="submit">Submit</button>
            </form>            
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-black rounded-0 my-2">
              <span class="text-uppercase">Login to leave a comment</span>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

{% endblock content %}