{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="masthead">
    <div class="container">
      <div class="row g-0">
        <div class="col-md-6 masthead-text text-white">
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-subtitle">{{ post.user_profile }} | {{ post.created_on }}</p>
            {% for subject in post.subjects.all %}
                <a class="category-badge text-decoration-none" href="#">
                    <span class="p-2 mb-2 badge badge-white text-white rounded-0 border border-dark">{{ subject.friendly_name }}</span>
                </a>
            {% endfor %} 
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col card mb-4 mt-3 left top">
        <div class="card-body">                  
            <p class="card-text">{{ post.content | safe }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% if from_profile %}
        <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
          <span class="icon mr-2">
            <i class="fas fa-angle-left"></i>
          </span>
          <span class="text-uppercase">Back to Profile</span>
        </a>
      {% else %}
        <a href="{% url 'community' %}" class="btn btn-black rounded-0 my-2">
          <span class="icon mr-2">
            <i class="fa-solid fa-table"></i>
          </span>
          <span class="text-uppercase">Back to Posts</span>
        </a>
      {% endif %}
      {% if request.user.is_authenticated and request.user == post.user_profile.user %}
      <a href="{% url 'edit_post' post.slug %}" class="btn btn-black rounded-0 my-2 ml-2">
        <span class="icon mr-2">
          <i class="fa-solid fa-pen-to-square"></i>
        </span>
        <span class="text-uppercase">Edit Post</span>
      </a>
      <a href="{% url 'delete_post' post.slug %}" class="btn btn-black rounded-0 my-2 ml-2">
        <span class="icon mr-2">
          <i class="fa-solid fa-trash-can"></i>
        </span>
        <span class="text-uppercase">Delete Post</span>
      </a>
      {% endif %}
    </div>
  </div>
</div>  
{% endblock content %}